---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    post: CollectionEntry<'case-study'>;
}

const { post } = Astro.props;
---
<div>
    <a href=`/case-study/${post.id}`>
        <span class="block mb-1 uppercase tracking-wider">{post.data.title}</span>
        <Image src={post.data.image} height="200" width="400" alt={post.data.title} class="w-full h-auto" />
    </a>
</div>

