---
import type { CollectionEntry } from "astro:content";
import { findImage } from "~/utils/images";
import Picture from "astro/components/Picture.astro";

interface Props {
    post: CollectionEntry<'case-study'>;
}

const { post } = Astro.props ;
const image = await findImage(post.data.image);
---
<div>
    <a href=`/case-study/${post.id}`>
        <span class="block mb-1">{post.data.title}</span>
        <img src={image} alt=`${post.data.title}` />
    </a>
</div>

