---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Allura Lincoln',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div class="container max-w-7xl mx-auto py-6 md:py-12">
    <div class="grid md:grid-cols-2 gap-8">
      <div><p class="dark:text-white text-xl md:text-2xl lg:text-3xl font-light">Allura Lincoln is a graphic designer and creative director who merges digital design, branding, packaging, photography, and print to craft unforgettable brand experiences.</p></div>
      <div>
        <div class="grid md:grid-cols-2 gap-4 mb-3 md:mb-6">
          <div>
            <table class="w-full">
              <thead>
                <tr class="border-t border-b border-black dark:border-white">
                  <th class="text-left dark:text-white uppercase">Capabilities</th>
                </tr>
              </thead>
              <tbody class="text-white border-collapse">
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">Logos & Branding</td>
                </tr>
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">Typesetting<span class="hidden xl:visible"> & Editorial Design</span></td>
                </tr>
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">Graphic Design &amp; Illustration</td>
                </tr>
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">Print Media</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="w-full">
              <thead>
                <tr class="border-t border-b border-black dark:border-white">
                  <th class="text-left dark:text-white uppercase">Clients Include</th>
                </tr>
              </thead>
              <tbody class="text-white border-collapse">
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">Muse Bistro & Bar</td>
                </tr>
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">In the Company of Flowers</td>
                </tr>
                <tr class="border-t border-b border-black dark:border-white">
                  <td class="text-black dark:text-white">Fruita Spiked Seltzer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button id="button" class="block text-white focus:ring-4 bg-black dark:text-black dark:bg-white focus:outline-none font-bold text-sm px-5 py-2.5 text-center w-full uppercase" type="button">
          Work With Me
        </button>
      </div>
    </div>
  </div>
  <!-- Features Widget *************** -->
  <section class="container max-w-7xl mx-auto py-6 md:py-12">
    <div class="border-t border-black dark:border-white my-3 md:my-6 pt-1">
      <h1 class="text-black dark:text-white uppercase font-bold">Portfolio</h1>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3">
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="container max-w-7xl mx-auto py-6 md:py-12">
    <div class="border-t border-black dark:border-white my-3 md:my-6 pt-1">
      <h1 class="text-black dark:text-white uppercase font-bold">Case Study</h1>
    </div>
    <div class="grid grid-cols-3 gap-8">
      <div>
        <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
      </div>
      <div>
        <p class="dark:text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis reprehenderit animi enim labore nam velit autem voluptatum quae aspernatur aliquam? Laboriosam non iusto, natus ab alias assumenda corrupti culpa deserunt.</p>
        <button id="button" class="block text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
          Toggle modal
        </button>
      </div>
    </div>
  </section>
  <section class="container max-w-7xl mx-auto py-6 md:py-12">
    <div class="border-t border-black dark:border-white my-3 md:my-6 pt-1">
      <h1 class="text-black dark:text-white uppercase font-bold">Legacy Portfolio</h1>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3">
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
      </div>
    </div>
  </section>
  

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
  <!-- Main modal -->
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Terms of Service
          </h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-6 space-y-6">
          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
          </p>
          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
          </p>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
          <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  import { Modal } from 'flowbite'

  // select the two elements that we'll work with
  const $buttonElement: HTMLElement | null = document.querySelector('#button');
  const $modalElement: HTMLElement | null = document.querySelector('#defaultModal');

  // create a new modal component
  const modal = new Modal($modalElement);

  // toggle the visibility of the modal when clicking on the button
  if ($buttonElement) {
    $buttonElement.addEventListener('click', () => modal.toggle());
  }
</script>