---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("case-study");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post }
    }));
}

const { post } = Astro.props;
---
<div>
    hello world
    <pre>{JSON.stringify(post, null, 2)}</pre>
</div>