---
import type { CollectionEntry } from "astro:content";
import { findImage } from "~/utils/images";
import Picture from "astro/components/Picture.astro";

interface Props {
    post: CollectionEntry<'work'>;
}

const { post } = Astro.props ;
const image = await findImage(post.data.image);
---
<div>
    <pre>{JSON.stringify(post, undefined, 2)}</pre>
    <image src={image} alt="hello world" height="200" width="400" />
</div>

